<header class="app-header">
  <div class="header-container">
    <!-- Logo/Brand -->
    <div class="header-brand" style="align-items: flex-end;" (click)="navigateToHome()">
      <img style="max-height: 50px;" src="https://devicemanagementsystem-dxenggarbhe6a2ac.canadacentral-01.azurewebsites.net/images/Logo-1.png"/>
      <span class="brand-name">RexRx</span>
    </div>

    <!-- Navigation -->
    <nav class="header-nav">
      @if (isAuthenticated()) {
        <!-- Authenticated Navigation -->
<!--        <div class="nav-items">-->
<!--          <a routerLink="/home" routerLinkActive="active" class="nav-link">-->
<!--            <i class="pi pi-home"></i>-->
<!--            <span>Home</span>-->
<!--          </a>-->
<!--          <a routerLink="/drugs" routerLinkActive="active" class="nav-link">-->
<!--            <i class="pi pi-shopping-cart"></i>-->
<!--            <span>Products</span>-->
<!--          </a>-->
<!--        </div>-->

        <!-- User Menu -->
        <div class="user-menu">
          <p-button
            [label]="username()"
            icon="pi pi-user"
            iconPos="left"
            [text]="true"
            styleClass="user-button"
            (onClick)="menu.toggle($event)"
          >
            <ng-template pTemplate="content">
              <span class="p-button-label">{{ username() }}</span>
              <i class="pi pi-chevron-down" style="margin-left: 4px; font-size: 0.875rem;"></i>
            </ng-template>
          </p-button>
          <p-menu
            #menu
            [model]="menuItems"
            [popup]="true"
            appendTo="body"
            styleClass="user-menu-popup"
          ></p-menu>
        </div>
      } @else {
        <!-- Guest Navigation -->
        <div class="auth-buttons">
          <p-button
            label="Login"
            [text]="true"
            (onClick)="navigateToLogin()"
            styleClass="login-button"
          ></p-button>
          <p-button
            label="Sign Up"
            (onClick)="navigateToSignUp()"
            styleClass="signup-button"
          ></p-button>
        </div>
      }
    </nav>
  </div>
</header>
